<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <!-- OG Tag -->
    <meta property="og:title" content="CO2 Table Maker" />
    <meta
      property="og:description"
      content="다이빙 중 몸이 이산화탄소(CO2) 축적에 더 잘 견딜 수 있도록 하기 위해 설계된 표준화된 호흡 훈련인 CO2 Table을 맞춤형으로 만들어 주는 사이트입니다."
    />
    <meta
      property="og:url"
      content="https://sanggusseu.github.io/co2table-maker/"
    />
    <meta property="og:type" content="website" />

    <link rel="icon" type="image/ico" href="favicon.ico" />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
